@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
  color: #212529;
}

.brand-heading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
